CREATE DATABASE CMS
USE [master]
GO
/****** Object:  Database [CMS]    Script Date: 18/05/2025 15:58:01 ******/
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IVE_SERVER\MSSQL\DATA\CMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.IVE_SERVER\MSSQL\DATA\CMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CMS]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [varchar](50) NOT NULL,
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[EMAIL] [varchar](100) NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Student_Email] UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ANNOUNCEMENT]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANNOUNCEMENT](
	[ASSESMENTID] [int] NOT NULL,
	[TITLE] [varchar](100) NOT NULL,
	[CONTENT] [varchar](500) NOT NULL,
	[POST_DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_ANNOUNCEMENT] PRIMARY KEY CLUSTERED 
(
	[ASSESMENTID] ASC,
	[TITLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASSESMENT]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASSESMENT](
	[ASSESMENTID] [int] IDENTITY(1,1) NOT NULL,
	[COURSEID] [int] NOT NULL,
	[InstructorID] [int] NULL,
	[START_DATE] [datetime] NOT NULL,
	[DUE_DATE] [datetime] NOT NULL,
	[TYPE] [varchar](30) NOT NULL,
	[ASSESMENTNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ASSESMENT] PRIMARY KEY CLUSTERED 
(
	[ASSESMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [int] NOT NULL,
	[CATEGORYNAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE](
	[COURSEID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYID] [int] NOT NULL,
	[INSTRUCTORID] [int] NULL,
	[COURSENAME] [varchar](50) NOT NULL,
 CONSTRAINT [PK_COURSE] PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTOR]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTOR](
	[INSTRUCTORID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[FULLNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_INSTRUCTOR] PRIMARY KEY CLUSTERED 
(
	[INSTRUCTORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MESSAGE]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESSAGE](
	[MESSAGEID] [int] IDENTITY(1,1) NOT NULL,
	[INSTRUCRORID] [int] NULL,
	[STUDENTID] [int] NULL,
	[SENDERROLE] [varchar](30) NOT NULL,
	[TIME] [datetime] NOT NULL,
	[MESSAGE] [varchar](300) NOT NULL,
 CONSTRAINT [PK_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[MESSAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENTID] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[FULLNAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_ENROLL_IN_COURSE]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_ENROLL_IN_COURSE](
	[STUDENTID] [int] NOT NULL,
	[COURSEID] [int] NOT NULL,
	[YEAR] [int] NULL,
	[SEMSTER] [varchar](1024) NULL,
	[FINALGRADE] [int] NULL,
 CONSTRAINT [PK_STUDENT_ENROLL_IN_COURSE] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC,
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submission]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submission](
	[STUDENTID] [int] NOT NULL,
	[ASSESMENTID] [int] NOT NULL,
	[STATUS] [varchar](20) NULL,
	[GRADE] [int] NULL,
 CONSTRAINT [PK_STUDENT_HAS_ASSESMENT] PRIMARY KEY CLUSTERED 
(
	[STUDENTID] ASC,
	[ASSESMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 18/05/2025 15:58:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[FULLNAME] [varchar](100) NOT NULL,
	[Role] [varchar](100) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ASSESMENT_HAS_ANNOUNCMENT_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [ASSESMENT_HAS_ANNOUNCMENT_FK] ON [dbo].[ANNOUNCEMENT]
(
	[ASSESMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [INSTRUCTOR_ADD_ASSESMENT_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [INSTRUCTOR_ADD_ASSESMENT_FK] ON [dbo].[ASSESMENT]
(
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [COURSE_HAS_CATEGORY_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [COURSE_HAS_CATEGORY_FK] ON [dbo].[COURSE]
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [INSTRUCTOR_UPDATE_COURSE_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [INSTRUCTOR_UPDATE_COURSE_FK] ON [dbo].[COURSE]
(
	[INSTRUCTORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [INSTRUCTOR_EXCHANGE_MESSAGE_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [INSTRUCTOR_EXCHANGE_MESSAGE_FK] ON [dbo].[MESSAGE]
(
	[INSTRUCRORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_EXCHANGE_MESSAGE_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [STUDENT_EXCHANGE_MESSAGE_FK] ON [dbo].[MESSAGE]
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_ENROLL_IN_COURSE_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [STUDENT_ENROLL_IN_COURSE_FK] ON [dbo].[STUDENT_ENROLL_IN_COURSE]
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_ENROLL_IN_COURSE2_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [STUDENT_ENROLL_IN_COURSE2_FK] ON [dbo].[STUDENT_ENROLL_IN_COURSE]
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_HAS_ASSESMENT_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [STUDENT_HAS_ASSESMENT_FK] ON [dbo].[Submission]
(
	[STUDENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [STUDENT_HAS_ASSESMENT2_FK]    Script Date: 18/05/2025 15:58:01 ******/
CREATE NONCLUSTERED INDEX [STUDENT_HAS_ASSESMENT2_FK] ON [dbo].[Submission]
(
	[ASSESMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [FK_Account_User] FOREIGN KEY([USERID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [FK_Account_User]
GO
ALTER TABLE [dbo].[ANNOUNCEMENT]  WITH CHECK ADD  CONSTRAINT [FK_Announcement_Assessment] FOREIGN KEY([ASSESMENTID])
REFERENCES [dbo].[ASSESMENT] ([ASSESMENTID])
GO
ALTER TABLE [dbo].[ANNOUNCEMENT] CHECK CONSTRAINT [FK_Announcement_Assessment]
GO
ALTER TABLE [dbo].[ASSESMENT]  WITH CHECK ADD  CONSTRAINT [FK_ASSESSMENT_COURSE] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([COURSEID])
GO
ALTER TABLE [dbo].[ASSESMENT] CHECK CONSTRAINT [FK_ASSESSMENT_COURSE]
GO
ALTER TABLE [dbo].[ASSESMENT]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Instructor] FOREIGN KEY([InstructorID])
REFERENCES [dbo].[INSTRUCTOR] ([INSTRUCTORID])
GO
ALTER TABLE [dbo].[ASSESMENT] CHECK CONSTRAINT [FK_Assessment_Instructor]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CATEGORY] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_CATEGORY]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CATEGORY1] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_CATEGORY1]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CATEGORY2] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_CATEGORY2]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_CATEGORY4] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_CATEGORY4]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_INSTRUCTOR] FOREIGN KEY([INSTRUCTORID])
REFERENCES [dbo].[INSTRUCTOR] ([INSTRUCTORID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_INSTRUCTOR]
GO
ALTER TABLE [dbo].[COURSE]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_INSTRUCTOR1] FOREIGN KEY([INSTRUCTORID])
REFERENCES [dbo].[INSTRUCTOR] ([INSTRUCTORID])
GO
ALTER TABLE [dbo].[COURSE] CHECK CONSTRAINT [FK_COURSE_INSTRUCTOR1]
GO
ALTER TABLE [dbo].[INSTRUCTOR]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_User] FOREIGN KEY([INSTRUCTORID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[INSTRUCTOR] CHECK CONSTRAINT [FK_Instructor_User]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_Message_Instructor] FOREIGN KEY([INSTRUCRORID])
REFERENCES [dbo].[INSTRUCTOR] ([INSTRUCTORID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_Message_Instructor]
GO
ALTER TABLE [dbo].[MESSAGE]  WITH CHECK ADD  CONSTRAINT [FK_Message_Student] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENT] ([STUDENTID])
GO
ALTER TABLE [dbo].[MESSAGE] CHECK CONSTRAINT [FK_Message_Student]
GO
ALTER TABLE [dbo].[STUDENT]  WITH CHECK ADD  CONSTRAINT [FK_Student_User] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[USER] ([USERID])
GO
ALTER TABLE [dbo].[STUDENT] CHECK CONSTRAINT [FK_Student_User]
GO
ALTER TABLE [dbo].[STUDENT_ENROLL_IN_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Course] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSE] ([COURSEID])
GO
ALTER TABLE [dbo].[STUDENT_ENROLL_IN_COURSE] CHECK CONSTRAINT [FK_Enroll_Course]
GO
ALTER TABLE [dbo].[STUDENT_ENROLL_IN_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_Enroll_Student] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENT] ([STUDENTID])
GO
ALTER TABLE [dbo].[STUDENT_ENROLL_IN_COURSE] CHECK CONSTRAINT [FK_Enroll_Student]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Assessment] FOREIGN KEY([ASSESMENTID])
REFERENCES [dbo].[ASSESMENT] ([ASSESMENTID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK_Submission_Assessment]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [FK_Submission_Student] FOREIGN KEY([STUDENTID])
REFERENCES [dbo].[STUDENT] ([STUDENTID])
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [FK_Submission_Student]
GO
ALTER TABLE [dbo].[ASSESMENT]  WITH CHECK ADD  CONSTRAINT [CHK_Type] CHECK  (([TYPE]='exercise' OR [TYPE]='assignment' OR [TYPE]='exam' OR [TYPE]='quiz'))
GO
ALTER TABLE [dbo].[ASSESMENT] CHECK CONSTRAINT [CHK_Type]
GO
ALTER TABLE [dbo].[Submission]  WITH CHECK ADD  CONSTRAINT [CHK_Status] CHECK  (([STATUS]='missing' OR [STATUS]='submitted'))
GO
ALTER TABLE [dbo].[Submission] CHECK CONSTRAINT [CHK_Status]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CHK] CHECK  (([Role]='instructor' OR [Role]='student'))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CHK]
GO
ALTER TABLE [dbo].[USER]  WITH CHECK ADD  CONSTRAINT [CHK_User_Role] CHECK  (([Role]='instructor' OR [Role]='student'))
GO
ALTER TABLE [dbo].[USER] CHECK CONSTRAINT [CHK_User_Role]
GO
USE [master]
GO